# Starknet mainnet STRK20 pool
VITE_STRK20_POOL_ADDRESS=0x040337b1af3c663e86e333bab5a4b28da8d4652a15a69beee2b677776ffe812a

# Native STRK token on Starknet mainnet
VITE_STRK20_TOKEN_ADDRESS=0x04718f5a0fc34cc1af16a1cdee98ffb20c31f5cd61d6ab07201858f4287c938d
VITE_TESSERA_LOAN_ADDRESS=
VITE_TESSERA_ANONYMIZER_ADDRESS=
VITE_COUNTERPARTY_ADDRESS=
VITE_STRK20_PROVER_URL=
VITE_STRK20_DISCOVERY_URL=
